In [26]:
import pandas as pd

In [27]:
import numpy as np

In [28]:
import  matplotlib.pyplot as pt

In [29]:
pd.read_csv('https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv',encoding='latin-1')

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [30]:
food_balancesheets=pd.read_csv('https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv',encoding='latin-1')
food_balancesheets.describe(include='all')

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943,60943.000000,60943,60943.000000,60943,60943,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
unique,NaN,49,NaN,119,NaN,18,5,NaN,NaN,NaN,NaN,NaN
top,NaN,Kenya,NaN,Milk - Excluding Butter,NaN,Domestic supply quantity,1000 tonnes,NaN,NaN,NaN,NaN,NaN
freq,NaN,1560,NaN,1262,NaN,5295,40933,NaN,NaN,NaN,NaN,NaN
mean,134.265576,NaN,2687.176706,NaN,3814.856456,NaN,NaN,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,NaN,146.055739,NaN,2212.007033,NaN,NaN,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,NaN,2501.000000,NaN,511.000000,NaN,NaN,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,NaN,2562.000000,NaN,684.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,NaN,2630.000000,NaN,5142.000000,NaN,NaN,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,NaN,2775.000000,NaN,5511.000000,NaN,NaN,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,NaN,2961.000000,NaN,5911.000000,NaN,NaN,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [31]:
#For missing values

In [32]:
food_balancesheets.isnull()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,False,False,False,False,False,False,False,False,False,False,False,False
60939,False,False,False,False,False,False,False,False,False,False,False,False
60940,False,False,False,False,False,False,False,False,False,False,False,False
60941,False,False,False,False,False,False,False,False,False,False,False,False
60942,False,False,False,False,False,False,False,False,False,False,False,False

In [33]:
#count the sum of each unique value in the Element column

In [34]:
food_balancesheets.groupby('Element')['Element'].count()

Element
Domestic supply quantity                  5295
Export Quantity                           4403
Fat supply quantity (g/capita/day)        5023
Feed                                      1319
Food                                      4941
Food supply (kcal/capita/day)             5014
Food supply quantity (kg/capita/yr)       4905
Import Quantity                           5139
Losses                                    2009
Other uses (non-food)                     1732
Processing                                2010
Production                                3881
Protein supply quantity (g/capita/day)    5023
Residuals                                 4655
Seed                                       762
Stock Variation                           4232
Total Population - Both sexes               45
Tourist consumption                        555
Name: Element, dtype: int64

In [35]:
#sum of Animal fat production in year 2014. This is 209460.54

In [36]:
food_balancesheets.groupby('Item')['Y2014'].sum()

Item
Alcohol, Non-Food        2403.00
Alcoholic Beverages    102410.11
Animal Products         11935.65
Animal fats            209460.54
Apples and products      9499.23
                         ...
Vegetables, Other      155038.96
Vegetal Products       107145.19
Wheat and products     232670.13
Wine                     4497.36
Yams                   200396.96
Name: Y2014, Length: 119, dtype: float64

In [37]:
#sum of Animal fat production in year 2017. This is  269617.53

In [38]:
food_balancesheets.groupby('Item')['Y2017'].sum()

Item
Alcohol, Non-Food        2348.00
Alcoholic Beverages     95581.06
Animal Products         11547.65
Animal fats            269617.53
Apples and products     10198.90
                         ...
Vegetables, Other      157752.59
Vegetal Products       107655.20
Wheat and products     240047.62
Wine                     4178.02
Yams                   229174.59
Name: Y2017, Length: 119, dtype: float64

In [39]:
food_balancesheets.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [62]:
#Standard deviation and Mean

In [41]:
food_balancesheets.std()

C:\Users\WINDOWS-PC\AppData\Local\Temp\ipykernel_11100\1157933858.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  food_balancesheets.std()

Area Code         72.605709
Item Code        146.055739
Element Code    2212.007033
Y2014           1567.663696
Y2015           1603.403984
Y2016           1640.007194
Y2017           1671.862359
Y2018           1710.782658
dtype: float64

In [45]:
food_balancesheets.mean()

C:\Users\WINDOWS-PC\AppData\Local\Temp\ipykernel_11100\704390889.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  food_balancesheets.mean()

Area Code        134.265576
Item Code       2687.176706
Element Code    3814.856456
Y2014            134.196282
Y2015            135.235966
Y2016            136.555222
Y2017            140.917765
Y2018            143.758381
dtype: float64

In [46]:
food_balancesheets['Y2015'].std()

1603.4039839423301

In [47]:
food_balancesheets['Y2015'].mean()

135.23596649549236

In [48]:
#percentage missing data

In [49]:
food_balancesheets.isnull().sum() / food_balancesheets.shape[0] * 100.00

Area Code       0.000000
Area            0.000000
Item Code       0.000000
Item            0.000000
Element Code    0.000000
Element         0.000000
Unit            0.000000
Y2014           2.607354
Y2015           2.540078
Y2016           2.518747
Y2017           2.471162
Y2018           2.356300
dtype: float64

In [ ]:
#total number of missing values

In [58]:
food_balancesheets.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [59]:
#total number of not missing values

In [60]:
food_balancesheets.notnull().sum()

Area Code       60943
Area            60943
Item Code       60943
Item            60943
Element Code    60943
Element         60943
Unit            60943
Y2014           59354
Y2015           59395
Y2016           59408
Y2017           59437
Y2018           59507
dtype: int64

In [ ]:
#percentage not missing values

In [61]:
food_balancesheets.notnull().sum() / food_balancesheets.shape[0] * 100.00

Area Code       100.000000
Area            100.000000
Item Code       100.000000
Item            100.000000
Element Code    100.000000
Element         100.000000
Unit            100.000000
Y2014            97.392646
Y2015            97.459922
Y2016            97.481253
Y2017            97.528838
Y2018            97.643700
dtype: float64

In [ ]:
food_balancesheets.notnull().sum() / food_balancesheets.shape[0] * 100.00

In [63]:
food_balancesheets.groupby('Element Code')['Element Code'].count()

Element Code
511       45
645     4905
664     5014
674     5023
684     5023
5072    4232
5123    2009
5131    2010
5142    4941
5154    1732
5170    4655
5171     555
5301    5295
5511    3881
5521    1319
5527     762
5611    5139
5911    4403
Name: Element Code, dtype: int64

In [67]:
food_balancesheets.groupby('Element')['Y2014'].sum()

Element
Domestic supply quantity                  1996716.35
Export Quantity                            150020.64
Fat supply quantity (g/capita/day)          10225.56
Feed                                       216927.89
Food                                      1212332.49
Food supply (kcal/capita/day)              454257.00
Food supply quantity (kg/capita/yr)         49650.63
Import Quantity                            274144.48
Losses                                     153223.00
Other uses (non-food)                       78718.13
Processing                                 282923.00
Production                                1931287.75
Protein supply quantity (g/capita/day)      11836.46
Residuals                                   30149.00
Seed                                        21922.92
Stock Variation                             58749.83
Total Population - Both sexes             1031585.00
Tourist consumption                           416.00
Name: Y2014, dtype: float64

In [68]:
food_balancesheets.groupby('Element')['Y2015'].sum()

Element
Domestic supply quantity                  2021493.55
Export Quantity                            157614.47
Fat supply quantity (g/capita/day)          10235.74
Feed                                       225050.22
Food                                      1232361.10
Food supply (kcal/capita/day)              453383.00
Food supply quantity (kg/capita/yr)         49345.13
Import Quantity                            267018.46
Losses                                     155439.00
Other uses (non-food)                       66254.41
Processing                                 287929.00
Production                                1947019.39
Protein supply quantity (g/capita/day)      11833.95
Residuals                                   30045.00
Seed                                        23976.82
Stock Variation                             34910.99
Total Population - Both sexes             1058081.00
Tourist consumption                           349.00
Name: Y2015, dtype: float64

In [69]:
food_balancesheets.groupby('Element')['Y2016'].sum()

Element
Domestic supply quantity                  2044842.70
Export Quantity                            151920.46
Fat supply quantity (g/capita/day)          10102.77
Feed                                       228958.65
Food                                      1247022.17
Food supply (kcal/capita/day)              451810.00
Food supply quantity (kg/capita/yr)         48985.28
Import Quantity                            286582.78
Losses                                     157787.00
Other uses (non-food)                       69563.68
Processing                                 280631.00
Production                                1943537.15
Protein supply quantity (g/capita/day)      11779.69
Residuals                                   37224.00
Seed                                        23389.20
Stock Variation                             33140.12
Total Population - Both sexes             1085107.00
Tourist consumption                            89.00
Name: Y2016, dtype: float64

In [70]:
food_balancesheets.groupby('Element')['Y2017'].sum()

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [71]:
food_balancesheets.groupby('Element')['Y2018'].sum()

Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

In [75]:
Area vs Y2018

In [76]:
food_balancesheets.groupby('Area')['Y2018'].sum()

Area
Algeria                         341729.98
Angola                          235206.68
Benin                           124960.70
Botswana                         23129.08
Burkina Faso                    112970.72
Cabo Verde                       14622.60
Cameroon                        233022.93
Central African Republic         30101.57
Chad                             72282.24
Comoros                             59.84
Congo                            42005.53
CÃ´te d'Ivoire                   227018.00
Djibouti                         23718.96
Egypt                           852652.92
Eswatini                         55045.07
Ethiopia                        450788.86
Ethiopia PDR                         0.00
Gabon                            28339.38
Gambia                           23513.80
Ghana                           358915.64
Guinea                          103262.08
Guinea-Bissau                    18997.92
Kenya                           270916.80
Lesotho                          19109.23
Liberia                          29629.83
Madagascar                      134576.44
Malawi                          187366.09
Mali                            159026.42
Mauritania                      157479.95
Mauritius                        47150.91
Morocco                         399271.27
Mozambique                      164934.05
Namibia                          29350.04
Niger                           133982.86
Nigeria                        1499774.24
Rwanda                           74839.08
Sao Tome and Principe            12806.49
Senegal                          95493.82
Seychelles                         442.34
Sierra Leone                     55981.73
South Africa                    509787.97
Sudan                           268054.39
Sudan (former)                       0.00
Togo                             54872.00
Tunisia                         127343.17
Uganda                          222147.25
United Republic of Tanzania     349763.41
Zambia                          101604.27
Zimbabwe                         76581.41
Name: Y2018, dtype: float64

In [ ]:
#Total import quantity of Area column

In [90]:
food_balancesheets.groupby('Element').first()

,Area Code,Area,Item Code,Item,Element Code,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,,,,
Domestic supply quantity,4,Algeria,2501,Population,5301,1000 tonnes,0.00,0.00,0.00,0.00,0.00
Export Quantity,4,Algeria,2905,Cereals - Excluding Beer,5911,1000 tonnes,3.00,7.00,7.00,10.00,17.00
Fat supply quantity (g/capita/day),4,Algeria,2901,Grand Total,684,g/capita/day,80.06,79.36,77.40,80.19,77.28
Feed,4,Algeria,2905,Cereals - Excluding Beer,5521,1000 tonnes,4725.00,5070.00,4838.00,4667.00,5266.00
Food,4,Algeria,2905,Cereals - Excluding Beer,5142,1000 tonnes,8546.00,8729.00,9001.00,8941.00,9219.00
Food supply (kcal/capita/day),4,Algeria,2901,Grand Total,664,kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
Food supply quantity (kg/capita/yr),4,Algeria,2905,Cereals - Excluding Beer,645,kg,219.56,219.72,221.98,216.02,218.31
Import Quantity,4,Algeria,2905,Cereals - Excluding Beer,5611,1000 tonnes,12604.00,13983.00,13523.00,13039.00,13182.00
Losses,4,Algeria,2905,Cereals - Excluding Beer,5123,1000 tonnes,1084.00,1203.00,1148.00,1121.00,1253.00
Other uses (non-food),4,Algeria,2905,Cereals - Excluding Beer,5154,1000 tonnes,787.00,847.00,835.00,840.00,951.00
Processing,4,Algeria,2905,Cereals - Excluding Beer,5131,1000 tonnes,35.00,38.00,37.00,33.00,44.00
Production,4,Algeria,2905,Cereals - Excluding Beer,5511,1000 tonnes,3436.00,3761.00,3445.00,3478.00,6065.00
Protein supply quantity (g/capita/day),4,Algeria,2901,Grand Total,674,g/capita/day,94.90,94.35,94.72,92.82,91.83
Residuals,4,Algeria,2905,Cereals - Excluding Beer,5170,1000 tonnes,0.00,0.00,0.00,0.00,-8.00
Seed,4,Algeria,2905,Cereals - Excluding Beer,5527,1000 tonnes,177.00,189.00,197.00,202.00,278.00
Stock Variation,4,Algeria,2905,Cereals - Excluding Beer,5072,1000 tonnes,684.00,1663.00,905.00,705.00,2226.00
Total Population - Both sexes,4,Algeria,2501,Population,511,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
Tourist consumption,7,Angola,2913,Oilcrops,5171,1000 tonnes,0.00,0.00,0.00,0.00,0.00

In [ ]:
#Total values in Area

In [94]:
food_balancesheets['Area'].count()

60943

In [ ]:
#Total unique values in Area

In [93]:
food_balancesheets['Area'].nunique()

49